*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

/* nav bar */
.navbar {
    background-color: white;
    padding: 1.5vh 15px;
    color: #6b4842;
    border-bottom: 1px solid #6b4842;
    }


.nav-button, .nav-button:hover  {
    display: block;
    color: #6b4842;
    text-align: center;
    text-decoration: none;
    padding: 1.5vh 0;
}

.create, .create:hover{
    background: #6b4842;
    padding: 1.5vh 20px;
    margin:0 10px;
    color: white;
}


.user-name {
    color:#6b4842;
    margin: 0 10px;
}

/* Dropdown */
.drop {
    border: 1px solid #6b4842;
    border-radius: 3px;
    padding: 6px 12px;
    margin-left: 10px;
}

.dropbtn {
    width: 20px;
    height: 2px;
    background-color: #6b4842;
    margin: 6px 0;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: black;
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Create */
.header {
    margin:10vh 0;
    color: #6b4842;
}

.logo {
    max-height:30px;
    object-fit:contain
}

.form {
    color: #6b4842;
    background-image: url("../img/create-bg-1.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-color: #EFE7DD;
}


.details {
    background-color: #6b4842 !important;
    color: #EFE7DD ;
}

.btn-outline-dark {
    background-color: #6b4842 !important;
    color: white !important;
}

.btn-outline-dark:hover {
    color: white !important;
    background-color: #FABA9B !important;
}

#position_button{
    background-color: #FABA9B !important;
    color: #6b4842 !important;
}

.add {
    color: white !important;
    border-color: white !important;
}

.del {
    color: rgb(255, 102, 102) !important;
    border-color: rgb(255, 102, 102) !important;
}

.del:hover {
    color:white !important;
    background-color:rgb(255, 102, 102) !important;
}



